<section class="carousel slider" data-ride="carousel" id="postsCarousel">
    <div class="container-fluid carousel-inner">
        <div class="row row-equal carousel-item active">
            <!--card-1-->
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card-wrapper">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><b>Whether travelling for business or leisure,<br>
                                    get there with the best local professionals.</b></h5>
                            <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Error provident
                                quos
                                esse quisquam possimus tempore nesciunt repellendus pariatur aspernatur ex, adipisci
                                reiciendis?
                                Voluptates laborum esse eos ex nam architecto tempora.</p>
                            <h6 class="card-subtitle mb-2 text-muted">Share this post:</h6>
                            <i class="fa-brands fa-facebook"></i>
                            &nbsp;-&nbsp;<i class="fa-brands fa-twitter"></i>
                            &nbsp;-&nbsp;<i class="fa-brands fa-pinterest"></i>
                            &nbsp;-&nbsp;<i class="fa-brands fa-linkedin"></i>
                            <br>
                            <br>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-warning">READ MORE</button>
                    </div>
                </div>
            </div>
            <!--card-2-->
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card-wrapper">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><b>Whether travelling for business or leisure,<br>
                                    get there with the best local professionals.</b></h5>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Error provident quos esse quisquam
                                possimus tempore nesciunt repellendus pariatur aspernatur ex, adipisci reiciendis?
                                Voluptates
                                laborum esse eos ex nam architecto tempora.
                            </p>
                            <h6 class="card-subtitle mb-2 text-muted">Share this post:</h6>
                            <i class="fa-brands fa-facebook"></i>
                            &nbsp;-&nbsp;<i class="fa-brands fa-twitter"></i>
                            &nbsp;-&nbsp;<i class="fa-brands fa-pinterest"></i>
                            &nbsp;-&nbsp;<i class="fa-brands fa-linkedin"></i>
                            <br>
                            <br>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-warning">READ MORE</button>
                    </div>
                </div>
            </div>
    
            
        </div>
        <div class="row row-equal carousel-item mt-0">
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card-wrapper">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><b>Whether travelling for business or leisure,<br>
                                    get there with the best local professionals.</b></h5>
                            <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Error provident
                                quos
                                esse quisquam possimus tempore nesciunt repellendus pariatur aspernatur ex, adipisci
                                reiciendis?
                                Voluptates laborum esse eos ex nam architecto tempora.</p>
                            <h6 class="card-subtitle mb-2 text-muted">Share this post:</h6>
                            <i class="fa-brands fa-facebook"></i>
                            &nbsp;-&nbsp;<i class="fa-brands fa-twitter"></i>
                            &nbsp;-&nbsp;<i class="fa-brands fa-pinterest"></i>
                            &nbsp;-&nbsp;<i class="fa-brands fa-linkedin"></i>
                            <br>
                            <br>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-warning">READ MORE</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card-wrapper">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><b>Whether travelling for business or leisure,<br>
                                    get there with the best local professionals.</b></h5>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Error provident quos esse quisquam
                                possimus tempore nesciunt repellendus pariatur aspernatur ex, adipisci reiciendis?
                                Voluptates
                                laborum esse eos ex nam architecto tempora.
                            </p>
                            <h6 class="card-subtitle mb-2 text-muted">Share this post:</h6>
                            <i class="fa-brands fa-facebook"></i>
                            &nbsp;-&nbsp;<i class="fa-brands fa-twitter"></i>
                            &nbsp;-&nbsp;<i class="fa-brands fa-pinterest"></i>
                            &nbsp;-&nbsp;<i class="fa-brands fa-linkedin"></i>
                            <br>
                            <br>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-warning">READ MORE</button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="container butn" >
        <div class="row" >
            <div class="col-12 text-right mb-4 " >
                <a href="" class="btn btn-outline-secondary prev" title="go back"> <i class="fa-solid fa-less-than before"></i>

                </a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="" class="btn btn-outline-secondary next" title="more"><i class="fa fa-chevron-right"
                        aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</section>
