<div class="bgcolor ">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <nav class="navbar navbar-expand-sm justify-content-center">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
                        <i class="fa-solid fa-grip-lines"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/"><u>HOME</u></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">ABOUT</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/service">SERVICES</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">WHY US</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">BLOG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link me-3" href="/contact">CONTACT</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="text-right-custom">
                    <p class="para">(C) 2019. All Right Reserved. Taxi Service LLC. Designed & Developed By <a href="" class="text-dark">Template.net</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
