+HYY<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taxi Services Header</title>
    <link rel="stylesheet" href="navbar.component.css">
   
</head>

<body>
    

    <div class="container-fluid">

        <div class="row first-nav">
            <div class="col-lg-6 ml-lg-5 mt-3 mail text-center text-lg-left">
                <p class="companymail-text">TAXI&#64;SERVICE.COM</p>
            </div>
            <div class="col-lg-5 mt-3 text-center text-lg-end">
                <p class="contact-number">CALL TO BOOK NOW! 1-800-123-456</p>
            </div>
        </div>
    </div>

    <!-- second division start -->
    <nav class="navbar navbar-expand-lg navbar-custom">
        <a class="navbar-brand" href="#">
            <img src="../../assets/logo.png" alt="Taxi Logo" width="100%" height="auto" class="img-fluid logo"> <!-- Replace with your logo -->
           
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link home-link" href="/">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">PRICING</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">DOWNLOAD APP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/service">SERVICES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">BLOG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">CONTACT</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Second container ending -->

    <!-- headerimage section starting -->

    <div class="container-fluid bg-image img-fluid">
        <div class="bg-image-two img-fluid"></div>

        <div class="container-fluid">

            <div class="row text-div">
                <div class="col-md-6 ml-md-5 bg-image-text text-white">
                    <h1>We Provide Reliable<br>
                        Transportation Services For<br>
                        Personal And Corporate<br>
                        Clients </h1>
                    <br>
                    <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione expedita<br> nulla cupiditate
                        quas
                        quo officiis beatae impedit, aspernatur voluptatum,
                    </h6>
                    <br>
                    <button class="check-pricing-button">CHECK PRICING</button>
                </div>

                <!-- form section starting -->

                <div class="col-md-5 bg-white form-container align-items-end form">
                    <h5 class="text-start mt-4 form-heading g-3">Book Taxi Now</h5>
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <i class="fa-solid fa-location-dot icons " style="color: rgb(252, 184, 58);"></i><input type="text" class="form-control"
                                    placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Starting Point" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <i class="fa-solid fa-map icons mt-2" style="color: rgb(252, 184, 58);"></i>
                    <input type="text" class="form-control mt-2"
                                    placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Destination" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <i class="fa-solid fa-calendar icons mt-2" style="color: rgb(252, 184, 58);"></i><input type="text"
                                    class="form-control mt-2" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Time & Date"
                                    required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mt-4">
                                <i class="fa-solid fa-car icons mb-3" style="color: rgb(252, 184, 58);"></i><select class="form-control" required>
                                    <option value="" disabled selected class="default">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Select Car Type</option>
                                    <option value="sedan">Sedan</option>
                                    <option value="suv">SUV</option>
                                    <option value="minivan">Minivan</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mt-4">
                                <i class="fa-solid fa-mobile-button icons mb-2" style="color: rgb(252, 184, 58);"></i><input type="tel"
                                    class="form-control" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your Phone No"
                                    required>
                            </div>
                        </div>
                        <button type="submit" class="btn bg-black text-white btn-block mt-2 submit-button">BOOK TAXI
                            NOW</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
