<div class="container-fluid">
    <app-navbar></app-navbar>
    <div class="row container">
        <div class="col-12 contact-first-heading m-5">
            <h2>Read Our Latest News & Events From <br> Our Blog</h2>
        </div>
    </div>
    <app-contact-slider></app-contact-slider>

    <div class="container-fluid third-section ">
        <div class="row contact-image-section">

            <div class="col-md-3 m-5 ">
                <h2 class="text-white">Subscribe to Newsletter</h2>
                <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, deserunt.</p>
                <div class="subscribe-container">
                    <input type="email" placeholder="Enter Your Email" class="email">
                    <button type="submit">SUBSCRIBE</button>
                </div>
            </div>
            <div class="col-md-3 m-5 ">
                <p class="text-white">145 Amunds Street,Beverly Hill Sights,</p>
                <p class="text-white">NYC 2345,United Kingdom</p>
                <p class="text-white">Email:info&#64;taxiservice.com</p>
                <p class="text-white call" >Call:(800)  &nbsp; 0123  &nbsp; 4567 &nbsp; 890</p>
            </div>
            <div class="col-md-3 m-5">
                <p class="text-white"><i class="fa-brands fa-facebook"></i>&nbsp;/&nbsp;Taxiservices</p>
                <p class="text-white"><i class="fa-brands fa-twitter"></i>&nbsp;/&nbsp;TaxiservicesOfficial</p>
                <p class="text-white"><i class="fa-brands fa-linkedin-in"></i>&nbsp;/&nbsp;2019taxiservices</p>
                <p class="text-white"><i class="fa-brands fa-instagram"></i>&nbsp;/&nbsp;Taxiservices</p>
                <p class="text-white"><i class="fa-brands fa-pinterest"></i>&nbsp;/&nbsp;TaxiservicesOfficial</p>




            </div>
        </div>
        <app-footer></app-footer>
    </div>
   
</div>