<div class="container-fluid">
    <app-navbar></app-navbar>
    <div class="row container">
        <div class="col-12 contact-first-heading m-5">
            <h2>We Offer Any Kind of Taxi <br> Service in the Town</h2>
        </div>
    </div>

<app-slider></app-slider>
    <div class="taxi-services-section">
        <div class="taxi-services-header">
            <h2>Chose A Best Suitable Taxi for Ride!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                Vel pellentesque habitant morbi tristique, adipiscing elit, sed do eiusmod tempor
                Vel mauris commodo quis imperdiet massa tincidunt.</p>
        </div>
        <div class="cards-container">
            <div class="card">
                <img src="../../assets/ride1-min.png" alt="Economy Class">
                <div class="card-content">
                    <h3>Economy Class</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        Vel pellentesque habitant morbi tristique</p>
                    <p class="price">$35 / Kilometer</p>
                </div>
            </div>
            <div class="card">
                <img src="../../assets/ride2-min.png" alt="Standard Class">
                <div class="card-content">
                    <h3>Standard Class</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        Vel pellentesque habitant morbi tristique</p>
                    <p class="price">$99 / Kilometer</p>
                </div>
            </div>
            <div class="card">
                <img src="../../assets/ride3-min.png" alt="Business Class">
                <div class="card-content">
                    <h3>Business Class</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        Vel pellentesque habitant morbi tristique</p>
                    <p class="price">$299 / Kilometer</p>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonial-container">
        <div class="testimonial-wrapper">
            <section id="testim" class="testim">

                <div class="wrap">

                    <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
                    <span id="left-arrow" class="arrow left fa fa-chevron-left "></span>
                    <ul id="testim-dots" class="dots">
                        <li class="dot active"></li><!--
                            -->
                        <li class="dot"></li><!--
                            -->
                        <li class="dot"></li><!--
                            -->
                        <li class="dot"></li><!--
                            -->
                        <li class="dot"></li>
                    </ul>
                    <div id="testim-content" class="cont">

                        <div class="active">
                            <div class="img"><img src="../../assets/avt-min.png" alt=""></div>
                            <h2>Lorem P. Ipsum</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco.</p>
                        </div>

                        <div>
                            <div class="img"><img src="../../assets/avt-min-one.png" alt=""></div>
                            <h2>Mr. Lorem Ipsum</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco.</p>
                        </div>

                        <div>
                            <div class="img"><img src="../../assets/avt-min-two.png" alt=""></div>
                            <h2>Lorem Ipsum</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco.</p>
                        </div>

                        <div>
                            <div class="img"><img src="../../assets/avt-min-three.png" alt=""></div>
                            <h2>Lorem De Ipsum</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco.</p>
                        </div>

                        <div>
                            <div class="img"><img src="../../assets/avt-min-four.png" alt=""></div>
                            <h2>Ms. Lorem R. Ipsum</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco.</p>
                        </div>

                    </div>

                </div>

            </section>
        </div>
    </div>

   
    <script src="https://use.fontawesome.com/1744f3f671.js"></script>

    <app-footer></app-footer>

</div>