<section class="carousel slider" data-ride="carousel" id="postsCarousel">
    <div class="container    carousel-inner">
        <div class="row row-equal carousel-item active">
            <!--card-1-->
            <div class="col-md-4 col-lg-3">
                <div class="z-1 position-relative p-4 rounded-3 bg-div-one">
                    <div class="card-one" style="width: 18rem;">
                        <div class="card-body">
                            <img src="../../assets/enquiry1-min.jpg" width="100%" alt="">
                            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam
                                laborum
                                iste aperiam, eligendi, aut incidunt placeat vero facere temporibus dolore architecto ex
                                praesentium! Fugiat.</p>
                            <p class="starting-price-text">Starting Price <b class="text-dark">49</b><sup
                                    class="text-dark">$</sup></p>
                            <button class="btn btn-dark">ENQUIRE</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--card-2-->
            <div class="col-md-4 col-lg-3">
                <div class="z-1 position-relative p-4 rounded-3 bg-div-two">
                    <div class="card-two" style="width: 18rem;">
                        <div class="card-body">
                            <img src="../../assets/enquiry2-min.jpg" width="100%" alt="">
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
                                dignissimos dicta sunt, quas numquam deserunt, veniam unde ratione ex ut a. Non, ipsa
                                aperiam?</p>
                            <p class="starting-price-text">Starting Price <b class="text-dark">99</b><sup
                                    class="text-dark">$</sup></p>
                                    <button class="btn btn-dark">ENQUIRE</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="z-1 position-relative p-4 rounded-3 bg-div-three">
                    <div class="card-three" style="width: 18rem;">
                        <div class="card-body">
                            <img src="../../assets/enquiry3-min.jpg" width="100%" alt="">
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni dolores
                                blanditiis earum velit magnam sunt amet asperiores quia quo voluptatem natus, quam,
                                ullam
                                nobis.</p>
                            <p class="starting-price-text">Starting Price <b class="text-dark">200</b><sup
                                    class="text-dark">$</sup></p>
                                    <button class="btn btn-dark">ENQUIRE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-equal carousel-item mt-0">
            <div class="col-md-4 col-lg-3">
                <div class="z-1 position-relative p-4 rounded-3 bg-div-one">
                    <div class="card-one" style="width: 18rem;">
                        <div class="card-body">
                            <img src="../../assets/blog-3.jpg" width="100%" alt="">
                            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam
                                laborum
                                iste aperiam, eligendi, aut incidunt placeat vero facere temporibus dolore architecto ex
                                praesentium! Fugiat.</p>
                            <p class="starting-price-text">Starting Price <b class="text-dark">49</b><sup
                                    class="text-dark">$</sup></p>
                                    <button class="btn btn-dark">ENQUIRE</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="z-1 position-relative p-4 rounded-3 bg-div-two">
                    <div class="card-two" style="width: 18rem;">
                        <div class="card-body">
                            <img src="../../assets/blog-4.jpg" width="100%" alt="">
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
                                dignissimos dicta sunt, quas numquam deserunt, veniam unde ratione ex ut a. Non, ipsa
                                aperiam?</p>
                            <p class="starting-price-text">Starting Price <b class="text-dark">99</b><sup
                                    class="text-dark">$</sup></p>
                                    <button class="btn btn-dark">ENQUIRE</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 ">
                <div class="z-1 position-relative p-4 rounded-3 bg-div-three">
                    <div class="card-three" style="width: 18rem;">
                        <div class="card-body">
                            <img src="../../assets/blog-5.jpg" width="100%" alt="">
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni dolores
                                blanditiis earum velit magnam sunt amet asperiores quia quo voluptatem natus, quam,
                                ullam
                                nobis.</p>
                            <p class="starting-price-text">Starting Price <b class="text-dark">200</b><sup
                                    class="text-dark">$</sup></p>
                                    <button class="btn btn-dark">ENQUIRE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container butn" >
        <div class="row" >
            <div class="col-12 text-right mb-4 " >
                <a href="" class="btn btn-outline-secondary prev" title="go back"> <i class="fa-solid fa-less-than before"></i>

                </a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="" class="btn btn-outline-secondary next" title="more"><i class="fa fa-chevron-right"
                        aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</section>
