<div class="container-fluid">
    <app-navbar></app-navbar>

    <div class="app-promo-section container-fluid">
        <div class="content">
            <h1 class="icon-heading">Download Our APP and Make <br> Easy Rides!</h1>
            <div class="features">
                <div class="feature">
                    <img src="../../assets/icon1-min.png" alt="Taxi Icon" class="feature-icon">
                    <div class="feature-text">
                        <div><b class="icon-heading">Book Taxi Easily</b>Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>

                    </div>
                </div>
                <div class="feature">
                    <img src="../../assets/icon2-min.png" alt="Price Icon" class="feature-icon">
                    <div class="feature-text">
                        <div><b class="icon-heading">Get The Exact Price for Trip</b>Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua.</div>

                    </div>
                </div>
                <div class="feature">
                    <img src="../../assets/icon3-min.png" alt="Timing Icon" class="feature-icon">
                    <div class="feature-text">
                        <div class=""><b class="icon-heading">Get Accurate Timing</b> Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua.</div>

                    </div>
                </div>
            </div>
        </div>
        <div class="image-container">
            <img src="../../assets/qr.png" alt="App Promotion" class="img-fluid qr-image">
        </div>
    </div>
    <div class="banner">
        <div class="text p-5">
            Our Taxis Ready to take your calls, Call <br> Now and Book a Taxi
        </div>
        <div class="cta">
            <div class="phone-number">1-800-234-567</div>
            <a href="tel:1-800-234-567" class="button">BOOK A TAXI NOW</a>
        </div>
    </div>

    <div class="row custom-container">
        <div class="col-lg-7 custom-content m-5">
            <h1 class="custom-container-heading">Most Trusted Taxi Services in <br> The State of Arizona</h1>
            <p class="custom-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor<br>
                incididunt ut labore et dolore magna aliqua. Vel elit scelerisque mauris pellentesque <br>pulvinar
                pellentesque habitant morbi tristique. Amet mauris commodo quis imperdiet massa tincidunt.</p>
            <p class="custom-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br>tempor
                incididunt ut labore et dolore magna aliqua. Amet<br> mauris commodo quis imperdiet massa tincidunt.</p>
            <div class="custom-features">
                <div class="custom-column">
                    <div class="custom-feature-item">
                        <img src="../../assets/iccheck-min.png" alt="Tick Mark"> 30+ Years of Experience
                    </div>
                    <div class="custom-feature-item">
                        <img src="../../assets/iccheck-min.png" alt="Tick Mark"> Experienced Drivers
                    </div>
                    <div class="custom-feature-item">
                        <img src="../../assets/iccheck-min.png" alt="Tick Mark"> 24 Hrs Customer Support
                    </div>
                </div>
                <div class="custom-column">
                    <div class="custom-feature-item">
                        <img src="../../assets/iccheck-min.png" alt="Tick Mark"> 100% Guarantee
                    </div>
                    <div class="custom-feature-item">
                        <img src="../../assets/iccheck-min.png" alt="Tick Mark"> Fastest Pick and Drops
                    </div>
                    <div class="custom-feature-item">
                        <img src="../../assets/iccheck-min.png" alt="Tick Mark"> Cashless Payments Accepted
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 custom-images">
            <div class="container">
                <!-- Image that will be layered below -->
                <img src="../../assets/about1-min.jpg" alt="Person 1" class="z-1 position-relative background-image">
                <!-- Divs to be placed above the background image -->
                <div class="z-2 position-absolute bg-div-three">
                    <div class="card-three" style="width: 18rem;">
                        <div class="card-body">
                            <img src="../../assets/about2-min.jpg" width="110%" class="thid-image" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-content">
         <app-footer></app-footer>
    </div>
    
</div>

